{% extends 'base.html.twig' %}

{% block title %}Gerer les catégories{% endblock %}

{% block body %}
<h1>Gerer les catégories</h1>
<a href="{{ path("admin_categories_ajout")}}" class="btn shadow-1 rounded-1 blue">Ajouter une catégorie</a>
    
  <table class="table striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Nom</th>
        <th>Parent</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for categorie in categories %}
      <tr>
        <td>{{categorie.id}}</td>
        <td>{{categorie.name}}</td>
        <td>{{categorie.parent}}</td>
        <td>
        <a href="{{ path("admin_categories_modifier", {id: categorie.id})}}" class="btn shadow-1 rounded-1 blue">Modifier</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
